reference-implementation/**

day-*-presentation.md
!day-01-presentation.md
!day-02-presentation.md
!day-03-presentation.md
!day-04-presentation.md
!day-05-presentation.md
!day-06-presentation.md
!test_main.py
